{% extends '_layouts/employee-portal' %}

{% import "_includes/forms" as forms %}

{% block innerContent %}
    <h1 class="h3 mb-3">Edit Password</h1>

    <form method="post" class="validate" accept-charset="UTF-8" enctype="multipart/form-data">

        {% set notice = craft.app.session.getFlash('notice') %}

        {% if notice %}
            <div class="alert alert-success">
                <p class="mb-0"><strong>Success</strong> – {{ notice }}</p>
            </div>
        {% endif %}

        {% set formUser = user is defined ? user : currentUser  %}

        {% if formUser.hasErrors() %}
            <div class="error-list">
                <p>Unable to save user. Please check for errors.</p>

                <ul>
                    {% for error in formUser.getFirstErrors() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ csrfInput() }}

        <input type="hidden" name="action" value="users/save-user">
        <input type="hidden" name="userId" value="{{ formUser.id }}">

        {{ forms.passwordField({
            label: "New Password",
            id: "newPassword",
            name: "newPassword",
            autocomplete: false,
            required: true,
            value: formUser.newPassword,
            errors: formUser.getFirstError('newPassword')
        }) }}

        {{ forms.passwordField({
            label: "Current Password",
            id: "password",
            name: "password",
            required: true,
            errors: formUser.getFirstError('currentPassword')
        }) }}

        <div class="group">
            <input type="submit" class="btn btn-primary mt-3" value="Update Password">
        </div>
    </form>
{% endblock %}