{% extends '_layouts/access' %}

{% block content %}
    <h2 class="h4">Forgot Your Password?</h2>
    <p>Enter your email address and you'll receive a password reset link.</p>
    <br />
    <form method="post"
          class="validate"
          accept-charset="UTF-8">

        {{ csrfInput() }}
        <input type="hidden" name="action" value="users/send-password-reset-email">
        {{ redirectInput('forgotpassword/success') }}

        {% if errors is defined %}
            <div class="alert alert-danger"
                 role="alert">
                <strong>Attention!</strong>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="loginName">Email Address</label>
            <input type="email"
                   class="form-control"
                   required
                   data-parsley-required-message="Your email address is required."
                   data-parsley-email-message="Please enter a valid email address."
                   id="loginName"
                   name="loginName"
                   value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">
        </div>

        <input type="submit"
               class="btn btn-primary btn-block btn-lg"
               value="Submit">
    </form>

    <p class="forgot-link mb-0 mt-2">
        <a href="{{ url('login') }}">&larr; Back to login</a>
    </p>
{% endblock %}