{% extends '_layouts/access' %}

{% if code is not defined %}
    {% redirect siteUrl ~ 'login' %}
{% endif %}

{% block content %}
    <h2 class="h4">Set Your Password</h2>

    {% if newUser is defined %}
        <p>Please set your password for your Bluepoint account and then continue to login with your new password.</p>
    {% else %}
        <p>Enter a password and then continue to login with your new password.</p>
    {% endif %}

    <br />

    <form method="post"
          class="validate"
          accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden"
               name="redirect"
               value="{{ siteUrl }}login">
        <input type="hidden"
               name="action"
               value="users/set-password">
        <input type="hidden"
               name="code"
               value="{{ code }}">
        <input type="hidden"
               name="id"
               value="{{ id }}">

        {% if errors is defined %}
            <div class="alert alert-danger"
                 role="alert">
                <strong>Attention!</strong>
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            {% if newUser is defined %}
                <label for="newPassword">Password <span class="text-danger">*</span></label>
            {% else %}
                <label for="newPassword">New Password <span class="text-danger">*</span></label>
            {% endif %}

            <input type="password"
                   class="form-control"
                   id="newPassword"
                   required
                   data-parsley-minlength="6"
                   data-parsley-required-message="A new password is required."
                   data-parsley-minlength-message="Password is too short (minimum is 6 characters)."
                   name="newPassword">
        </div>

        <input type="submit"
               class="btn btn-primary btn-block btn-lg"
               value="Submit">
    </form>

    <p class="forgot-link mb-0 mt-2">
        <a href="{{ url('login') }}">&larr; Back to login</a>
    </p>
{% endblock %}